<!DOCTYPE html>
<html data-ng-app="ursaMajor">
	<head>
		<title>ursaMajor</title>
		<link rel="stylesheet" type="text/css" href="css/req.css">
	</head>
	<body>

		<div id="pile" data-ng-controller="PileController">

			<div id="searchbar">
				<input id="searchBox" type="text" data-ng-model="courseSearch" data-ng-keypress="searchForCourse()" />
			</div>

			<div id="coursePile">
				<div class="course" data-ng-repeat="course in displayedCourses">
					<!-- Course Representation -->
						{{ course.id }}
						<br />
						{{ course.courseTitle }}
				</div>
			</div>

		</div>
		<div id="path" data-ng-controller="PathController">
			
		</div>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>