html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

body {
    background: #FFFFFF;
    font-family: "Bookman Old Style", serif;
    height: 100%;
}

#container {
    position: relative;
    width:90% !important;
    margin: auto;
    border: 0px 0 solid #000000;
}

h1 {
    color: #FFFFFF;
    background: #00A0B0;
    padding: 10px;
    text-align: center;
}

h2 {
    color: #FFFFFF;
    background: #6A4A3C;
    padding: 10px;
}    

h3 {
    color: #FFFFFF;
    background: #CC333F;
    padding: 10px;
}    

h4 {
    color: #FFFFFF;
    background: #EB6841;
    padding: 10px;
}   

#header {
    position: fixed;
    margin-top: 0px;
    top: 0px;
    margin-right:;
   /* margin: 10px;*/
    width: 100%;
    z-index:1;
    background: #00A0B0;
}

#header h1 {
    float: left;
}

#nav {
    position: fixed;
    /*margin-top: 80px;*/
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    z-index: 2;
    float: right;
    text-align:right;
    padding-right: 10px;
}



#nav a {
    text-align: center;
}

.searcharea {
    position: relative;
    background: #EDC951;
    width: 25%;
    top: 100px;
}

.search {
    position: relative;
    /*float: left;*/
    margin: auto;
    font-family: FontAwesome;
    /*left: -10px;
    width:130%;*/
}
.searchtext {
    text-shadow: 0 1px 3px #000000;
    text-align: center;
}

.searchresults {
    background: #EDC951;
    width: 25%;
    padding: 10px;
}


input {
    background: #FFFFFF;
    border: 0px solid #000000;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 0px 0px 0px #000000;
    -webkit-transition: background 1s; /* For Safari 3.1 to 6.0 */
    transition: background 1s;
    font-family: "Bookman Old Style", serif;
}

@media (max-width: 700px) {
    .search {
        min-width: 20px;
    }
    input[name=search] {
        min-width: 30px;
        max-width: 90px;
        /*float:right;
        margin: auto;*/   
    }
}

@media (min-width: 700px) {
    .search {
        width: 100%;
    }
    input[name=search] {
        width: 70%;
        /*float:right;
        margin: auto;*/
    }
    
}

