html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; 
}
.searcharea {
	float: left;
	width: 15%;

}
.searcharea #searchbar{
	background-color: yellow;
}
.pileResult{
	float: left;
	width: 100%;
	font-size: 13px;
	border: 2px solid #d0d0ff;
}